<% if session[:role] != 'admin' 
  redirect_to root_url end%>

<div class="topnav">
  <a><%= link_to "Home", :controller => "admins", :action => "index" %></a>
  <a><%= link_to "Edit My Profile", edit_admin_path(session[:admin_id])%></a>
  <a><%= link_to "View all Students", :controller => "admins", :action => "showallstudents" %></a>
  <a><%= link_to "View all Librarians", :controller => "admins", :action => "showalllibrarians" %></a>
  <a><%= link_to "Create Student Account", :controller => "students", :action => "new"%></a>
  <a><%= link_to "Create Librarian Account", :controller => "librarians", :action => "new"%></a>
  <a><%= link_to "Sign Out", :controller => "admins", :action => "destroy"%></a>
 </div>


<style type="text/css">
  td {
    padding: 0 41px 0 30px;
  }
</style>
<% if session[:role] != 'admin' %>
  <h1 color="red">You are not authorized to view this page</h1>
<% else %>
<br><br>
  <h1>List of All Books</h1>
  <table border="1px">
    <th>ISBN</th>
    <th>Title</th>
    <th>Author</th>
    <th>Language</th>
    <th>Published Year</th>
    <th>Edition</th>
    <th>Library Name</th>
    <th>University Name</th>
    <th>Subject</th>
    <th>Summary</th>
    <th>Is Special Collection</th>
    <th>Copies</th>
    <% if !@books.nil? then
         @books.each do |book| %>
        <tr>
          <td><%= book.ISBN %></td>
          <td><%= book.title %></td>
          <td><%= book.author %></td>
          <td><%= book.language %></td>
          <td><%= book.published %></td>
          <td><%= book.edition %></td>
          <% @library = Library.find_by_library_id(book.library_id) %>
          <td><%= @library[:name] %></td>
          <% @university = University.find_by_university_id(@library[:university_id]) %>
          <td><%= @university[:name] %></td>
          <td><%= book.subject %></td>
          <td><%= book.summary %></td>
          <td><%= book.specialcollection %></td>
          <td><%= book.copies %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
<% end %>