<% if !session[:admin_id] 
  redirect_to root_url end%>

<div class="topnav">
  <a><%= link_to "Home", :controller => "admins", :action => "index" %></a>
  <a><%= link_to "Edit My Profile", edit_admin_path(session[:admin_id])%></a>
  <a><%= link_to "View all Students", :controller => "admins", :action => "showallstudents" %></a>
  <a><%= link_to "View all Librarians", :controller => "admins", :action => "showalllibrarians" %></a>
  <a><%= link_to "Create Student Account", :controller => "students", :action => "new"%></a>
  <a><%= link_to "Create Librarian Account", :controller => "librarians", :action => "new"%></a>
  <a><%= link_to "Sign Out", :controller => "admins", :action => "destroy"%></a>
 </div>

<style type="text/css">
  td {
    padding: 0 41px 0 30px;
  }
</style>
<% if session[:role] != 'admin' %>
  <h1 color="red">You are not authorized to view this page</h1>
<% else %>
  <table>
    <table border="1px">
    <th>Librarian Name</th>
    <th>Library ID</th>
    <% if !@requests.nil? then
         @requests.each do |request| %>
        <tr>
          <td><%=request.name %></td>
          <%@library = Library.find_by_library_id(request.library_id) %>
          <td><%=@library[:name] %></td>
          <td><%= link_to 'Approve',:controller => "admins", :action => "update_approval_librarian",
                          :id => request.librarian_id, :request => "approve" %></td>
          <td><%= link_to 'Deny',:controller => "admins", :action => "update_approval_librarian",
                          :id => request.librarian_id, :request => "deny" %></td>

        </tr>
      <% end %>
    <% end %>
  </table>
<% end %>