<%= link_to "Admin_HomePage", :controller => "admins", :action => "index" %>

<style type="text/css">
td
{
    padding:0 41px 0 0px;
  text-align: center;

}
th
{
  text-align: left;
  padding:0 10px 5px 0px;
}
</style>

<h2>List of all librarians</h2>
<table>
  <table border="1px">
  <th>Name:</th>
  <th>Email:</th>
  <th>Librarian University:</th>
  <th>Librarian Library:</th>
<% @librarian.each do |librarian| %>
  <tr>
    <td><%=librarian.name %></td>
    <td><%=librarian.email %></td>
    <td> <%=librarian.library_id%></td>
    <td><%= librarian.librarian_id %></td>
   <td><%= link_to "Update", :controller => "admins", :action => "editlibrarian" , :librarian_id => librarian.librarian_id %><td>
    <td><%= link_to "Delete", :controller => "admins", :action => "deletelibrarian", :librarian_id => librarian.librarian_id %><td>

  </tr>
<%end %>
</table>

