<% if !session[:admin_id] %>
  redirect_to root_url
<% end %>
<div class="topnav">
  <a><%= link_to "Home", :controller => "admins", :action => "index" %></a>

  <a><%= link_to "Edit My Profile", edit_admin_path(session[:admin_id]) %></a>
  <a><%= link_to "View all Students", :controller => "admins", :action => "showallstudents" %></a>
  <a><%= link_to "View all Librarians", :controller => "admins", :action => "showalllibrarians" %></a>
  <a><%= link_to "Sign Out", :controller => "admins", :action => "destroy" %></a>
</div>
<br>
<style type="text/css">
  td {
    padding: 0 41px 0 0px;
    text-align: center;
  }

  th {
    text-align: left;
    padding: 0 20px 5px 0px;
  }
</style>
<h2>List of all students</h2>
<table border="1px">
  <th>Name:</th>
  <th>Email:</th>
  <th>Educational Level:</th>
  <th>University:</th>
  <th>Maximum Book Limit:</th>
  <% @student.each do |student| %>
    <tr>
      <td><%= student.name %></td>
      <td><%= student.email %></td>
      <td> <%= student.educational_level %></td>
      <td><%= student.university[:name] %></td>
      <td><%= student.maximum_book_limit %></td>
      <td><%= link_to "Update", :controller => "admins", :action => "editstudent", :student_id => student.id %></td>
      <td><%= link_to "Delete", :controller => "admins", :action => "deletestudent", :student_id => student.id %></td>
    </tr>
  <% end %>
</table>

