<% if !session[:student_id] 
	redirect_to root_url end%>
<div class="topnav">
  <a><%= link_to "Home", :controller => "students", :action => "index" %></a>
  <a><%= link_to "My Books", :controller => "students", :action => "mybooks" %></a>
  <a><%= link_to "Edit My Profile", edit_student_path(session[:student_id])%></a>

  <a class="topcorner"><%= link_to "Sign Out", :controller => "students", :action => "logout"%></a>
  
</div>
<br><br><br>
<a href="students/alllibs">List of all the libraries</a><br><br>
<%= link_to "View all books", :controller => "students", :action => "allbooks"%><br><br>
<%= link_to "My Bookmarks", :controller => "students", :action => "viewbookmark"%><br><br>
<a href="students/fines">Overdue Fines</a><br><br>


