<% if !session[:student_id] 
  redirect_to root_url end%>
<div class="topnav">
  <a><%= link_to "Home", :controller => "students", :action => "index" %></a>
  <a><%= link_to "My Books", :controller => "students", :action => "mybooks" %></a>
  <a><%= link_to "Edit My Profile", edit_student_path(session[:student_id])%></a>

  <a class="topcorner"><%= link_to "Sign Out", :controller => "students", :action => "logout"%></a>
  
</div>
<style type="text/css">
td
{
    padding:0 41px 0 30px;
}
</style>

<style type="text/css">
td
{
    padding:0 41px 0 30px;
}
</style>
<h1>My Books</h1>

<table>
<th>ISBN</th>
<th>Title</th>
<th>Checkout Date</th>
<th>Expected Date</th>
<th>Status</th>
<% if !@tran.nil? then @tran.each do |tra| %>
  <tr>
    <td><%=tra.ISBN %></td>
    <td><%=tra.bookname%></td>
    <td><%=tra.checkout_date%></td>
    <td><%=tra.expected_date%></td>
    <td><%= tra.status %></td>
    <% if tra.status == "checked out" %>
    	<td><%= link_to "Return", :controller => "students", :action => "returns", :id => tra.id , :ISBN => tra.ISBN %><br><br></td>
    <%end%>
    <% if tra.status == "approval request" %>
      <td><%= link_to "Cancel Request", :controller => "students", :action => "cancelrequest", :id => tra.id , :ISBN => tra.ISBN %><br><br></td>
    <%end%>
  </tr>
<% end %>
<% end %>
</table>
