<style type="text/css">
td
{
    padding:0 41px 0 30px;
}
</style>

<h1>List of Books</h1>
<table>
<th>ISBN</th> 
<th>title</th> 
<th>author</th> 
<th>Language</th> 
<th>Published</th> 
<th>Edition</th> 
<th>Subject</th> 
<th>Special Collection</th> 
<th>Summary</th>
  <%if session[:role] == 'librarian' %>
    <th>Copies</th>
   <% end %>
<% if !@book.nil? then @book.each do |bk| %>
  <tr>
    <td><%= bk.ISBN %></td>
    <td><%= bk.title %></td>
    <td><%= bk.author %></td>
    <td><%= bk.language %></td>
    <td><%= bk.published %></td>
    <td><%= bk.edition %></td>
    <td><%= bk.subject %></td>
    <td><%= bk.specialcollection %></td>
    <td><%= bk.summary %></td>&nbsp
    <%if session[:role] == 'librarian' %>
      <td><%=bk.copies %></td>
      <td><%= link_to 'Edit',:controller => "books", :action => "edit", :id => bk.ISBN   %></td>
<!--      <td><%#= link_to "Delete",:controller => "books", :action => "delete", :id => bk.ISBN%></td>-->
      <td><%= link_to 'Destroy', destroy_path(bk),
                  data: { confirm: 'Are you sure?' } %></td>
      <td><%= link_to 'View',:controller => "books", :action => "show", :id => bk.ISBN   %></td>
      <% else %>
      <td><%= link_to 'Checkout',:controller => "books", :action => "checkout", :ISBN => bk.ISBN , :library_id => bk.library_id :bookname => bk.title  %></td>
      <td><%= link_to 'Bookmark',:controller => "books", :action => "bookmark", :ISBN => bk.ISBN , :library_id => bk.library_id :bookname => bk.title  %></td>
     <% end %>
    <br>
  </tr>

<% end %>
<% end %>
</table>
