<%= form_for @librarian do |f| %>

  <% if @librarian.errors.any? %>
    <div id="error_explanation">
      puts library_params
      <h2><%= pluralize(@librarian.errors.count, "error") %> prohibited this librarian from being saved:</h2>

      <ul>
        <% @librarian.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :required => true %>
  </div>

  <br/>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, :required => true %>
  </div>

  <br/>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <br>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <br/>

  <div>
    <% @libraries = Library.all %>
    <!--    <%#= f.label :lib %>
    Library: <%#= select_tag :lib, options_from_collection_for_select(@library, "id", "name") %>-->
    Library: <select name="libr">
      <%= @libraries.each do |lib| %>
        <option value="<%= lib.id %>"><%= lib.name %></option>
      <% end %>
    </select>
  </div>
  <br>

  <div class="action">
    <%= f.submit "Sign Up" %>
  </div>
<% end %>