<% if session[:role] != 'librarian' %>
  <h1 color="red">You are not authorized to view this page</h1>
<% else %>
<h1><%= session[:role] %></h1>
<%=render 'header' %>
<br><br><br>
<a><%= link_to "Edit Library Attributes", :controller => "libraries", :action => "edit", :id => session[:library]%></a><br><br>
<a><%= link_to "View All Books", :controller => "books", :action => "index" %></a><br><br>
<a><%= link_to "View Checked out Books", :controller => "librarians", :action => "checked_out_books" %></a><br><br>
<a><%= link_to "View Book History", :controller => "librarians", :action => "book_history" %></a><br><br>
<a><%= link_to "View Hold Requests", :controller => "librarians", :action => "view_hold_requests" %></a><br><br>
<a><%= link_to "View Overdues", :controller => "librarians", :action => "overdue" %></a><br><br>
<%end %>
