<style type="text/css">
  td {
    padding: 0 41px 0 30px;
  }
</style>
<% if session[:role] != 'librarian' and session[:role] != 'admin' %>
  <h1 color="red">You are not authorized to view this page</h1>
<% else %>
  <% if session[:role] == 'librarian' %>
    <%= render 'header' %>
  <% end %>
  <% if session[:role] == 'admin' %>
   <div class="topnav">
  <a><%= link_to "Home", :controller => "admins", :action => "index" %></a>
  <a><%= link_to "Edit My Profile", edit_admin_path(session[:admin_id])%></a>
  <a><%= link_to "View all Students", :controller => "admins", :action => "showallstudents" %></a>
  <a><%= link_to "View all Librarians", :controller => "admins", :action => "showalllibrarians" %></a>
  <a><%= link_to "Create Student Account", :controller => "students", :action => "new"%></a>
  <a><%= link_to "Create Librarian Account", :controller => "librarians", :action => "new"%></a>
  <a><%= link_to "Sign Out", :controller => "admins", :action => "destroy"%></a>
 </div>


  <% end %>

<br>
  <table border="1px">
    <h3>Overdue Books</h3>
    <th>ISBN</th>
    <th>Student Name</th>
    <th>Book Name</th>
    <% if session[:role] == 'admin' %>
      <th>Library Name</th>
      <th>University Name</th>
    <% end %>
    <th>Checkout Date</th>
    <th>Expected Date</th>
    <th>Return Date</th>
    <th>Fine</th>
    <% if !@overdue.nil? then
         @overdue.each do |overdue| %>

        <tr>
          <td><%= overdue.ISBN %></td>
          <% @student = Student.find_by_id(overdue.student_id) %>
          <td><%= @student[:name] %></td>
          <% @book = Book.find_by_ISBN(overdue.ISBN) %>
          <td><%= @book[:title] %></td>
          <% @library = Library.find_by_library_id(overdue.library_id) %>

          <% if session[:role] == 'admin' %>

            <td><%= @library[:name] %></td>
            <% @university = University.find_by_university_id(@library[:university_id]) %>
            <td><%= @university[:name] %></td>
          <% end %>

          <td><%= overdue.checkout_date %></td>
          <td><%= overdue.expected_date %></td>
          <td><%= overdue.return_date %></td>
          <% @days = (Date.parse(overdue.return_date.to_s) -
              Date.parse(overdue.expected_date.to_s)).to_i %>
          <% @fine = @library[:fines] %>
          <td><%= @days * @fine.to_f %></td>
        </tr>
      <% end %>
    <% end %>

  </table>
<% end %>